/JUNIT/JavaApplication3/nbproject/private/
/JUNIT/JavaApplication3/build/
/Struts2/WebApplication1/nbproject/private/
/Struts2/WebApplication1/build/
/Struts2/WebApplication1/dist/
/Struts2/MVCJAVA/nbproject/private/
/Struts2/MVCJAVA/dist/
/Struts2/MVCJAVA/build/